#board-container {
    max-width: 33vw;
    margin: 100px auto;
}

#controls {
    display: flex;
    justify-content: center;
}

#controls button {
    background-color: #111;
    color: #fff;
    padding: 8px 15px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms linear;
}

#controls button:hover {
    background-color: #555;
}

#controls button:nth-child(n+2) {
    margin-left: 10px;
}

#board {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

#board::after {
	content: "";
	width: calc(100% + 80px);
	height: calc(100% + 80px);
	left: -40px;
	top: -40px;
	position: absolute;
	background: #cbb8b8;
    z-index: -1;
    border: 1px solid #333;
}

.board-row {
    position: absolute;
    left: 0;
    height: calc(100% / 8);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-color: #111;
    border-bottom: 1px solid;
}

.board-row:nth-child(1) { top: calc(100% / 8 * 0); }
.board-row:nth-child(2) { top: calc(100% / 8 * 1); }
.board-row:nth-child(3) { top: calc(100% / 8 * 2); }
.board-row:nth-child(4) { top: calc(100% / 8 * 3); }
.board-row:nth-child(5) { top: calc(100% / 8 * 4); }
.board-row:nth-child(6) { top: calc(100% / 8 * 5); }
.board-row:nth-child(7) { top: calc(100% / 8 * 6); }
.board-row:nth-child(8) { top: calc(100% / 8 * 7); }

.board-row::after {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
}

.board-row:nth-child(1)::after { content: "8"; }
.board-row:nth-child(2)::after { content: "7"; }
.board-row:nth-child(3)::after { content: "6"; }
.board-row:nth-child(4)::after { content: "5"; }
.board-row:nth-child(5)::after { content: "4"; }
.board-row:nth-child(6)::after { content: "3"; }
.board-row:nth-child(7)::after { content: "2"; }
.board-row:nth-child(8)::after { content: "1"; }

.board-row:first-child {
    border-top: 1px solid;
}

.board-grid {
    height: 100%;
    width: 100%;
    border-color: #111;
    border-left: 1px solid;
    position: relative;
}

.board-grid:last-child {
    border-right: 1px solid;
}

.board-row:first-child .board-grid::after {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #111;
}

.board-row:first-child .board-grid:nth-child(1)::after { content: "A"; }
.board-row:first-child .board-grid:nth-child(2)::after { content: "B"; }
.board-row:first-child .board-grid:nth-child(3)::after { content: "C"; }
.board-row:first-child .board-grid:nth-child(4)::after { content: "D"; }
.board-row:first-child .board-grid:nth-child(5)::after { content: "E"; }
.board-row:first-child .board-grid:nth-child(6)::after { content: "F"; }
.board-row:first-child .board-grid:nth-child(7)::after { content: "G"; }
.board-row:first-child .board-grid:nth-child(8)::after { content: "H"; }

.board-row:nth-child(2n+2) .board-grid:nth-child(2n+2),
.board-row:nth-child(2n+1) .board-grid:nth-child(2n+1) { background-color: rgba(0,0,0,0.2); }
.board-row:nth-child(2n+1) .board-grid:nth-child(2n+2),
.board-row:nth-child(2n+2) .board-grid:nth-child(2n+1) { background-color: rgba(0,0,0,0.4); }

.board-grid.selected { box-shadow: inset 0 0 5px #00b7ff; }   
.board-grid.move { box-shadow: inset 0 0 5px #00ff03; cursor: crosshair; }
.board-grid.capture { box-shadow: inset 0 0 5px #f00; }

.piece {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 6px);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 1;
}

.piece.moving {
    transition: 500ms ease-out;
}

.piece.fade-in {
    opacity: 0;
}

.piece.fade-out {
    transition: 300ms ease-out;
    opacity: 0;
}