/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

/* Test temp */
#btn {
    padding: 8px 15px;
    background: #111;
    color: #fff;
}

/* General document styling */
html { font-size: 14px; font-family: "Ubuntu", sans-serif; }

body { font-size: 1rem; display: flex; flex-direction: column; min-height: 100vh; }

.container { max-width: 1170px; margin: auto; }

/* Typography */
a { text-decoration: none; color: inherit; }
a:focus { outline: none; }

/* Header */
header { background-color: #111; color: #fff; }
header .container { display: flex; align-items: center; }

#logo { height: 80px; padding: 10px; }
#logo img { display: block; height: 100%; width: auto; }

/* Top navigation */
#main_nav { display: flex; flex-wrap: nowrap; list-style: none; justify-content: flex-end; margin-left: auto; }
#main_nav a { display: block; padding: 5px 8px; text-transform: uppercase; font-size: 1.1rem; transition: 200ms linear; position: relative; font-weight: 700; }
#main_nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    background: linear-gradient(90deg, #D40F0A, #F54C16, #FB8C22);
    transition: 200ms linear;
    border-radius: 15px;
}
#main_nav a:hover::after {
    width: calc(100% - (8px * 2));
}

/* Banner */
#banner { min-height: 500px; width: 100%; position: relative; }
#banner .banner-item { height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
#banner .banner-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}
#banner .banner-item:nth-child(1) { 
    background-image: url('../images/banner.jpeg');
    background-position: center;
    background-size: cover;
}

/* Page content */

/* Footer */
footer { background-color: #111; margin-top: auto; color: #fff; text-align: center; padding: 15px 5px; font-weight: 700; }


/* Media queries */
@media (max-width: 1500px) {
    
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 479px) {
    
}