{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chess.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/chess.css') }}" />
{% endblock styles %}
    
{% block content %}
    <div id="board-container">
        <div id="board"></div>
        <div id="controls">
            <button id="start">NEW GAME</button>
        </div>
    </div>
{% endblock content %}