<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Default</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock head %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <!-- PAGE SPECIFIC SCRIPTS -->
    {% block scripts %}{% endblock scripts %}
    <!-- PAGE SPECIFIC STYLES -->
    {% block styles %}{% endblock styles %}
</head>
<body>
    <header>{% include "header.html" %}</header>
    <div id="page-content">{% block content %}{% endblock content %}</div>
    <footer>{% include "footer.html" %}</footer>
</body>
</html>